body{font-family: 'Poppins', sans-serif;
      margin: 0;
}
h1{font-size: 50px;
}
.orange-color{color: orange;
}
.flexable-containar{
    display: flex;
    margin-bottom: 130px;
}
.half-width{
    width: 50%;
    padding-left: 5%;
}
.half-width img{
    width: 70%;
}
.facebookbutton{
    text-decoration: none;
    background-image: linear-gradient(orange,red);
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
}
.topsection{
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    
}
.dream{
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.developer{
    box-shadow:10px 10px 30px gray;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 20px;

}
#fullstack{
    border-left: 9px solid;
    border-image: linear-gradient(blue, green);
    border-image-slice: 1;
    border-radius: 9px;
}
.Experiences-area{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#baby-developer{
    border-left: 7px solid;
    border-image: linear-gradient(yellow,orange);
    border-image-slice: 1;
    border-radius: 9px;
}
footer p{
    text-align: center;
}
